/**
 ** Common styles
 */

* {
  box-sizing: border-box;
}

.group:before,
.group:after {
  content: '';
  display: table;
} 

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
  font-family: $ff;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $fontColor;
  height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1em 0;
  line-height: 1.2em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 15px;
}

.wrapper {
  position: relative;
}