.background-icon {
	@include absolute-coverage;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 40px;
}

.icons-left-2-0 {
	background-position: 120px 85%;
}

.icons-left-2-1 {
	background-position: 270px 80%;
}

.icons-right-3-0 {
	background-position: calc(100% - 120px) 40%;
}

.icons-right-3-1 {
	background-position: calc(100% - 240px) 70%;
}

.icons-right-3-2 {
	background-position: calc(100% - 150px) 90%;
}

.icons-left-4-0 {
	background-position: 170px 15%;
}

.icons-left-4-1 {
	background-position: 250px 30%;
}

.icons-left-4-2 {
	background-position: 120px 60%;
}

.icons-left-4-3 {
	background-position: 240px 85%;
}

@media only screen and (max-width: 1280px) {
	.background-icon {
		background: 0 !important;
	}
}