.cf7 {
	.wpcf7-not-valid {
		.wpcf7-list-item-label {
			color: #ff0000;
		}
	}
}

.cf7__row {
	margin-top: 20px;
	margin-left: -20px;
	margin-right: -20px;
	&:first-child {
		margin-top: 0;
	}
}

.cf7__col {
	padding: 0 20px;
	float: left;
	width: 50%;
	label {
		padding-left: 20px;
		font-size: 14px;
		font-weight: 700;
		display: block;
	}
}

.cf7__col--full {
	width: 100%;
	float: none;
}

.cf7__input {
	outline: none;
	font-style: italic;
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	margin-top: 10px;
	width: 100%;
	display: block;
	height: 50px;
	&.wpcf7-not-valid {
		border-color: #ff0000;
		color: #ff0000;
	}
	&.wpcf7-valid {
		border-color: #00a651;
	}
}

.cf7__input--select {
	color: #7d7d7d;
	appearance: none;
	-webkit-appearance: none;
	background: url(../images/dropdown.png) no-repeat calc(100% - 15px) center #ffffff;
	cursor: pointer;
}

.cf7__input--textarea {
	height: 128px;
	resize: none;
}

span.wpcf7-list-item {
	margin-left: 0;
}

.wpcf7-list-item-label {
	font-size: 14px;
	font-style: italic;
}

.cf7__link {
	color: $pink;
	font-style: italic;
	text-decoration: underline;
}

.cf7__submit {
	background-color: $pink;
  padding: 15px 75px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-repeat: repeat-x;
  background-size: 200%;
  transition: $tr;
  border: 0;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  font-weight: 700;
  width: 250px;
  &:hover {
  	background-position: 0 100%;
  }
}

.cf7__thanks {
	display: none;
}

span.wpcf7-not-valid-tip {
	display: none;
}

div.wpcf7-response-output {
	display: none !important;
}

div.wpcf7 .ajax-loader {
	display: none !important;
}

@media only screen and (max-width: 550px) {
	.cf7__col {
		width: 100%;
		float: none;
		margin-top: 20px;
		&:first-child {
			margin-top: 0;
		}
	}
}