.cta {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $fontColor;
	text-align: center;
	padding: 170px 0 250px;
	.container {
		max-width: 490px;
	}
}

.cta__title {
	color: #ffffff;
	font-size: 36px;
	margin: 0;
}

.cta__button {
	background-color: $pink !important;
	color: #ffffff !important;
	margin-top: 25px;
}

@media only screen and (max-width: 767px) {
	.cta {
		padding-top: 100px;
	}
}