.footer {
	padding: 40px 0 35px;
}

.footer__widgets-list {
	@include reset-list;
}

.footer__widgets-item {
	width: 33.3333333%;
	float: left;
	a {
		color: $pink;
		text-decoration: none;
		font-weight: 700;
	}
}

.footer__widgets-title {
	margin-top: 0;
	font-size: 22px;
	color: #969696;
}

.footer__professional-standards {
	margin-top: 40px;
}

.footer__professional-standards-list {
	@include reset-list;
	margin: 0 -10px;
}

.footer__professional-standards-item {
	padding: 0 10px;
	float: left;
	text-align: center;
	width: 16.6666666%;
}

.footer__bottom {
	margin-top: 60px;
}

.footer__bottom-nav {
	float: left;
}

.footer__nav-list {
	@include reset-list;
	> li {
		margin-right: 20px;
		float: left;
		&:last-child {
			margin-right: 0;
		}
		> a {
			font-size: 14px;
			color: #969696;
			text-decoration: none;
		}
	}
}

.footer__bottom-copyright {
	float: right;
	color: #969696;
	font-size: 14px;
}

@media only screen and (max-width: 991px) {
	.footer__widgets-item {
		width: 100%;
		float: none;
		margin-top: 20px;
		&:first-child {
			margin-top: 0;
		}
	}
	.footer__professional-standards-item {
		width: 33.3333333%;
		margin-top: 10px;
	}
	.footer__bottom-nav {
		float: none;
	}
	.footer__bottom-copyright {
		margin-top: 20px;
		float: none;
	}
}