.git {
	text-align: center;
	padding-bottom: 45px;
}

.git__contact {
	margin-top: 30px;
}

.git__contact-button-wrapper {
	display: inline-block;
	margin-right: 25px;
	&:last-child {
		margin-right: 0;
	}
}

.git__contact-button.vc_btn3.vc_btn3-size-md {
	background-color: $pink;
	padding: 15px 25px !important;
	color: #ffffff;
	font-size: 16px !important;
	&:hover {
		color: #ffffff;
	}
}

.git__contact-button-fa {
	display: inline-block;
	margin-right: 10px;
}

@media only screen and (max-width: 767px) {
	.git__contact-button-wrapper {
		display: block;
		margin-right: 0;
		margin-top: 20px;
		&:first-child {
			margin-top: 0;
		}
	}
}