.go-back-button {
	position: fixed;
	right: 25px;
	bottom: 25px;
	background: url(../images/arrow-up.svg) no-repeat center center;
	background-size: contain;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	width: 64px;
	height: 64px;
	outline: none;
	display: none;
	z-index: 200;
}