.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.header__top {
	padding-top: 15px;
	padding-bottom: 15px;
	background: $fontColor;
}

.header__top-socials {
	float: left;
}

.header__socials-list {
	@include reset-list;
}

.header__socials-item {
	display: block;
	float: left;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}

.header__socials-link {
	text-decoration: none;
	display: block;
}

.header__socials-icon {
	width: 20px;
	height: auto;
	margin: 0;
	display: block;
}

.header__top-contacts {
	float: right;
}

.header__contacts-list {
	@include reset-list;
}

.header__contacts-item {
	float: left;
	display: block;
	position: relative;
	padding: 0 25px;
	&:after {
		@include pseudo;
		position: absolute;
		right: -1px;
		top: 3px;
		width: 2px;
		height: 14px;
		background: #ffffff;
	}
	&:last-child {
		padding-right: 0;
		&:after {
			display: none;
		}
	}
}

.header__contacts-link {
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
}

.header__nav {
	margin-top: 35px;
}

.header__nav-logo {
	float: left;
}

.header__logo-link {
	display: block;
}

.header__logo-image {
	display: block;
	margin: 0;
}

.header__nav-inner {
	float: right;
}

.header__nav-list {
	@include reset-list;
	padding-right: 20px;
	> li {
		float: left;
		margin-right: 40px;
		> a {
			color: #ffffff;
			font-weight: 700;
			text-decoration: none;
    	position: relative;
    	&:after {
    		@include pseudo;
				position: absolute;
				bottom: -3px;
				height: 2px;
				left: 0;
				width: 0;
				background: #ffffff;
    		transition: $tr;
    	}
    	&:hover {
    		&:after {
    			width: 100%;
    		}
    	}
		}
		&:last-child {
			margin-right: 0;
			a {
				background-color: $pink;
				padding: 10px 25px;
    		border-radius: 25px;
    		transition: $tr;
    		background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
    		background-image: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
    		background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
    		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    		background-repeat: repeat-x;
    		background-size: 200%;
    		position: relative;
    		&:hover {
					background-position: 0 100%;
    		}
    		&:after {
    			display: none;
    		}
			}
		}
		&.current-menu-item:not(:last-child),
		&.current-page-ancestor:not(:last-child) {
			a {
				position: relative;
				&:before {
					@include pseudo;
					bottom: -1px;
					left: 0;
					right: 0;
					background: #ffffff;
					height: 1px;
					width: 100%;
				}
			}
		}
	}
}

.header__nav-button {
	width: 46px;
	height: 26px;
	float: right;
	overflow: hidden;
	text-indent: -9999px;
	display: none;
	background-image: url(../images/burger.png);
	padding: 0 10px;
	background-repeat: no-repeat;
	background-position: center center;
	outline: none;
	text-decoration: none;
	&.header__nav-button--opened {
		background-image: url(../images/close.png);
	}
}

@media only screen and (max-width: 767px) {
	.header__top {
		display: none;
	}
	.header__nav {
		margin-top: 0;
		background: $fontColor;
		padding: 30px 0;
	}
	.header__nav-inner {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $fontColor;
		padding: 125px 30px 40px;
		z-index: -1;
		&.header__nav-inner--opened {
			display: block;
		}
	}
	.header__nav-button {
		display: block;
	}
	.header__nav-list {
		padding-right: 0;
		text-align: center;
		> li {
			display: block;
			float: none;
			margin-right: 0;
			margin-top: 25px;
			&:first-child {
				margin-top: 0;
			}
			&.current-menu-item:not(:last-child),
			&.current-page-ancestor:not(:last-child) {
				> a {
					color: #ffffff;
					position: relative;
					&:before {
						@include pseudo;
						position: absolute;
						bottom: -5px;
						left: 0;
						right: 0;
						height: 3px;
						background: #ffffff;
					}
				}
			}
			> a {
				font-size: 36px;
				color: #969696;
			}
			&:last-child {
				a {
					color: #ffffff;
					display: inline-block;
					padding-left: 50px;
    			padding-right: 50px;
    			border-radius: 40px;
				}
			}
		}
	}
	.header__nav-inner--home {
		.header__nav-list {
			> li {
				a {
					color: #ffffff;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.header__logo-link {
		width: 150px;
		padding: 3px 0;
	}
}