.latest-tweet__content {
	color: #969696;
}

.latest-tweet__author {
	margin-top: 20px;
}

.latest-tweet__author-avatar {
	float: left;
	margin-right: 15px;
}

.latest-tweet__image-link {
	display: inline-block;
	text-decoration: none;
}

.latest-tweet__author-image {
	display: block;
	border-radius: 50%;
}

.latest-tweet__author-info {
	float: left;
}

.latest-tweet__author-name {
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
}

.latest-tweet__author-date {
	margin-top: 5px;
	font-style: italic;
	color: #969696;
}