.hero {
	color: #ffffff;
	.container {
		position: relative;
		padding-top: 250px;
		padding-bottom: 170px;
	}
	.container--with-thumbnail {
		padding-bottom: 410px;
	}
}

.hero__title {
	margin: 0;
	font-size: 36px;
	text-align: center;
}

.hero__meta {
	position: absolute;
	left: 15px;
	bottom: 40px;
	right: 15px;
	text-align: center;
}

.hero__meta--with-thumbnail {
	bottom: 275px;
}

.hero__meta-author {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 35px;
	background: url(../images/pen.png) no-repeat left center;
}

.hero__meta-date {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 35px;
	background: url(../images/calendar.png) no-repeat left center;
}

.hero__meta-time {
	display: inline-block;
	padding-left: 35px;
	background: url(../images/time.png) no-repeat left center;
}