.single-content__image {
	margin-top: -240px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
	img {
		margin: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.single-content__body {
	max-width: 770px;
	margin: 25px auto 0;
	position: relative;
	.wwp-vc-breadcrumbs + h1,
	.wwp-vc-breadcrumbs + h2,
	.wwp-vc-breadcrumbs + h3,
	.wwp-vc-breadcrumbs + h4,
	.wwp-vc-breadcrumbs + h5,
	.wwp-vc-breadcrumbs + h6,
	.wwp-vc-breadcrumbs + p {
		margin-top: 0;
	}
	p {
		font-size: 20px;
	}
	.wpb_text_column a {
		text-decoration: none;
		color: #fe6204;
	}
}

.single-content__share {
	position: absolute;
	left: -80px;
	top: 6px;
}

.single__share-label {
	color: #969696;
}

.single__share-list {
	@include reset-list;
	margin-top: 10px;
}

.single__share-item {
	margin-top: 10px;
	&:first-child {
		margin-top: 0;
	}
}

.single__share-link {
	display: block;
}

.single__share-icon {
	display: block;
	margin: 0;
}

@media only screen and (max-width: 991px) {
	.single-content__share {
		position: static;
	}
	.single__share-item {
		display: inline-block;
		margin-right: 6px;
		margin-top: 0 !important;
		&:last-child {
			margin-right: 0;
		}
	}
}

@media only screen and (max-width: 767px) {
	.hero__meta {
		text-align: left;
	}
	.hero__meta-author {
		position: static;
	}
	.hero__meta-time {
		margin-top: 20px;
	}
	.hero__meta-date {
		position: static;
		margin-top: 20px;
	}
	.single-content__image {
		margin-top: -120px;
	}
	.hero__meta--with-thumbnail {
		bottom: 150px;
	}
	.hero {
		.container--with-thumbnail {
			padding-bottom: 290px;
			padding-top: 170px;
		}
	}
}