body .planet-bg {
	position: relative !important;
	background-repeat: repeat-y !important;
	background-attachment: fixed !important;
	background-position: center center !important;
	.wpb_wrapper {
		position: relative;
	}
}

.max-width-710 {
	max-width: 710px;
	margin: 0 auto;
}

.width-40 {
	width: 40px !important;
}

.max-width-550 {
	max-width: 550px;
	margin: 0 auto;
}

.italic {
	font-style: italic;
}

.z-index-1 {
	z-index: 1;
	position: relative;
}

.vc_btn3-style-outline-custom {
	font-size: 18px !important;
	font-weight: 700;
	border-width: 3px !important;
	padding: 15px 50px !important;
}

.vc-project-wrapper {
	> .vc_column-inner {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

.max-width-770 {
	max-width: 770px;
	margin: 0 auto !important;
}

body .parallax-bg {
	background-attachment: fixed !important;
	background-repeat: repeat-y !important;
}

.max-width-470 {
	max-width: 470px;
	margin: 0 auto !important;
}

.vc_btn3.vc_btn3-style-custom {
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3) !important;
	font-weight: 700 !important;
	font-size: 18px !important;
	padding: 15px 75px !important;
}

.vc_row.vc_column-gap-20 {
	margin-left: -15px !important;
	margin-right: -15px !important;
}

.relative-wrapper {
	.wpb_wrapper {
		position: relative;
	}
}

.bg-cosmos {
	background: url(../images/cosmos-object.png) no-repeat 100px 100px;
	background-attachment: fixed;
	overflow: initial !important;
}

.bg-rocket {
	background: url(../images/rocket.png) no-repeat calc(100% - 100px) 120px;
	background-attachment: fixed;
}

.bg-stars {
	background: url(../images/stars.png) no-repeat 70px 50px;
	background-attachment: fixed;
}

.max-width-1100 {
	max-width: 1100px;
	margin: 0 auto !important;
}

.wpb_single_image .vc_single_image-wrapper.vc_box_shadow img {
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3) !important;
}

.bg-fly {
	background: url(../images/flying.png) no-repeat calc(100% - 140px) 100px;
	background-attachment: fixed;
}

.overflow-initial {
	overflow: initial !important;
}

.max-width-1110 {
	max-width: 1110px;
	margin: 0 auto !important;
}

.max-width-370 {
	max-width: 370px;
}

.max-width-1000 {
	max-width: 1000px;
	margin: 0 auto !important;
}

.bg-fly-left {
	background: url(../images/flying.png) no-repeat 100px 120px;
	background-attachment: fixed;
}

.bg-stars-right {
	background: url(../images/stars.png) no-repeat calc(100% - 120px) 90px;
	background-attachment: fixed;
}

.max-width-980 {
	max-width: 980px;
	margin: 0 auto !important;
}

.align-center {
	text-align: center;
}

body .cta-button button.vc_btn3.vc_btn3-size-md {
	padding: 14px 20px 14px 50px !important;
}

@media only screen and (max-width: 1280px) {
	.bg-cosmos,
	.bg-rocket,
	.bg-stars,
	.bg-fly,
	.bg-fly-left,
	.bg-stars-right {
		background: 0;
	}
}

@media only screen and (max-width: 1199px) {
	.vc_btn3-style-outline-custom {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
}

@media only screen and (max-width: 1099px) {
	.contact-form-wrapper {
		> .vc_column-inner {
			padding-left: 50px !important;
			padding-right: 50px !important;
		}
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.vc_col-sm-3 {
    width: 50% !important;
	}
}

@media only screen and (max-width: 991px) {
	.client-logos-inner-row {
		> .vc_col-sm-2 {
			width: 33.3333333%;
		}
	}
	.contact-form-wrapper {
		> .vc_column-inner {
			padding-left: 20px !important;
			padding-right: 20px !important;
		}
	}
	.vc-service--inner {
		> .vc_column-inner {
			padding: 20px 20px 0 !important;
		}
	}
}

@media only screen and (max-width: 767px) {
	.client-logos-inner-row {
		> .vc_col-sm-3,
		> .vc_col-sm-2 {
			width: 50%;
		}
	}
	body .case-image {
		margin-top: -190px !important;
	}
	.max-width-370 {
		max-width: 100%;
	}
	.case-mobile-row,
	.col-4-wrapper {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.contact-form-wrapper {
		margin-bottom: 20px;
	}
}