.vc__blog-pagination {
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
	.current {
		padding: 6px 8px;
		font-weight: 700;
		background: $pink;
		border-radius: 4px;
		display: inline-block;
		color: #ffffff;
	}
	a {
		padding: 6px 8px;
		display: inline-block;
		color: #969696;
		text-decoration: none;
	}
	> * {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
}