.vc__client-carousel {
	min-height: 80px;
}

.vc__client-carousel-helper {
	display: inline-block;
	height: 80px;
	vertical-align: middle;
}

.vc__client-carousel-item {
	outline: none;
	text-align: center;
	padding: 0 10px;
	min-height: 80px;
	img {
		display: inline-block;
		max-height: 80px;
		height: 100%;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 1450px) {
	.vc__client-carousel {
		.slick-arrow {
			display: none !important;
		}
	}
}