.vc__case-meta {
	color: #ffffff;
}

.vc__case-meta-client {
	float: left;
}

.vc__case-meta-services {
	float: right;
}

.vc__case-meta-label {
	font-weight: 700;
}

@media only screen and (max-width: 767px) {
	.vc__case-meta-client {
		float: none;
	}
	.vc__case-meta-services {
		float: none;
		margin-top: 5px;
	}
}