.vc__latest-posts-list {
	@include reset-list;
	margin: 0 -10px;
}

.vc__latest-posts-item {
	padding: 0 10px;
	width: 33.3333333%;
	float: left;
	&:nth-child(n + 4) {
		margin-top: 20px;
	}
}

.vc__latest-posts-link {
	display: block;
	@include cover-background;
	text-decoration: none;
	color: #ffffff;
	transition: $tr;
	&:hover {
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3); 
		.vc__latest-posts-title {
			text-decoration: underline;
		}
	}
}

.vc__latest-posts-inner {
	background: rgba(50, 60, 65, 0.5);
	@include absolute-coverage;
	padding: 40px;
	position: relative;
	height: 280px;
}

.vc__latest-posts-inner--no-bg {
	background: 0;
}

.vc__latest-posts-title {
	margin: 0;
	font-size: 26px;
	transition: $tr;
}

.vc__latest-posts-meta {
	position: absolute;
	bottom: 40px;
	left: 40px;
	right: 40px;
}

.vc__latest-posts-minute {
	padding-left: 40px;
	background: url(../images/time.png) no-repeat left center;
}

.vc__latest-posts-date {
	margin-top: 8px;
	padding-left: 40px;
	background: url(../images/calendar.png) no-repeat left center;
}

@media only screen and (max-width: 991px) {
	.vc__latest-posts-item {
		width: 100%;
		margin-top: 20px;
	}
}