.vc__planet {
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
}

.vc__planet--left {
	left: 0;
}

.vc__planet--right {
	right: 0;
}

.vc__planet--center {
	left: 50%;
}

@media only screen and (max-width: 991px) {
	.vc__planet--left {
		left: -70px;
	}
	.vc__planet--right {
		right: -110px;
	}
}