.vc__project {
	display: block;
	text-decoration: none;
	color: #ffffff;
	background-repeat: no-repeat;
	@include cover-background;
	&:hover {
		.vc__project-button {
			opacity: 1;
		}
		.vc__project-info {
			bottom: 120px;
		}
	}
}

.vc__project-gradient {
	background: url(../images/gradient.png) repeat-x bottom left rgba(0, 0, 0, 0.2);
	position: relative;
}

.vc__project-info {
	position: absolute;
	left: 40px;
	right: 40px;
	bottom: 40px;
	transition: $tr;
}

.vc__project-title {
	font-size: 24px;
	margin: 0;
}

.vc__project-subtitle {
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
}

.vc__project-button {
	padding: 18px 70px;
	background: #ffffff;
	color: $fontColor;
	font-weight: 700;
	font-size: 18px;
	border-radius: 40px;
	transition: $tr;
	position: absolute;
	left: 40px;
	bottom: 40px;
	opacity: 0;
}

@media only screen and (max-width: 1199px) {
	.vc__project-button {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media only screen and (max-width: 991px) {
	.vc__project-button {
		padding-left: 35px;
		padding-right: 35px;
	}
}

@media only screen and (max-width: 767px) {
	.vc-project-wrapper {
		&:not(:first-child) {
			margin-top: 20px;
		}
		> .vc_column-inner {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
}