.vc__social-networks-list {
	@include reset-list;
}

.vc__social-networks-item {
	display: inline-block;
	margin-right: 15px;
}

.vc__social-networks-link {
	display: block;
}

.vc__social-networks-icon {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.vc__social-networks-helper {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}